<div class="background-forms">
  <form>

    <div class="header-form">
      <app-logo></app-logo>
      <h2>SIGN UP</h2>
      <h3>Enter your credentials to create your account</h3>
    </div>

    <div class="content-form">
      <div class="content-input">
        <label>Email</label>
        <input type="email" placeholder="Enter yor email">
      </div>

      <div class="content-input">
        <label>Rewrite your email</label>
        <input type="email" placeholder="Enter yor email">
      </div>

      <div class="content-input">
        <label>Username</label>
        <input type="date" placeholder="Enter yor username">
      </div>

      <div class="content-input">
        <label>Username</label>
        <input type="text" placeholder="Enter yor username">
      </div>

      <div class="content-input">
        <label>Password</label>
        <input type="password" placeholder="Enter yor password">
      </div>

      <div class="content-input">
        <label>Rewrite your password</label>
        <input type="password" placeholder="Enter yor password">
      </div>

      <div class="btns-form">
        <button class="back">BACK</button>
        <button type="submit">CONFIRM</button>
      </div>

    </div>

  </form>
</div>
