<div class="background-forms">
  <div class="card">
    <div class="card-content">

      <div class="card-header">
        <app-logo></app-logo>
        <h2>SIGN IN</h2>
        <h3>Enter your credentials to access your account</h3>
      </div>

      <div class="form-content">
        <div class="content-input">
          <label>Email</label>
          <input placeholder="Enter yor email" type="text">
        </div>

        <div class="content-input">
          <label>Password</label>
          <input placeholder="Enter your password" type="text">
        </div>

        <div class="btns-login">
          <button type="submit">SIGN IN</button>
          <span>Don't have an account?
            <a href="/cadastro">Sign Up</a>
          </span>
        </div>

      </div>

    </div>

  </div>
</div>
